<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <fieldset>
        <form action="/maprisk_api" method="post">
          <input type="text" name="user_address" />
          <input type="submit" value"Submit Address">
        </form>
      </fieldset>
    </div>
  </body>
</html>