<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <fieldset>
        <form action="/xlFile" method="post" enctype="multipart/form-data">
          <input type="file" name="xl" />
          <input type="submit">
        </form>
      </fieldset>
      <div class="container">
      <fieldset>
        <form action="/csv" method="post" enctype="multipart/form-data">
          <input type="file" name="pyfile" />
          <input type="submit">
        </form>
      </fieldset>
    </div>
  </body>
</html>